*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo.jpg);
}

    /* Header */
.headerContainer{
    display: flex;
    width: 100vw;
    height: 10vh;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.logo{
    margin-left: 3vw;
}

.logo img{
    width: 200px;
    
}

.nav{
    margin-left: 2em;
}

.nav a{
    margin-left: 2em;
    text-decoration: none;
    color: white;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.nav2{
    display: flex;
}

.nav2 a{
    margin-left: 2em;
    text-decoration: none;
    color: white;
}

.login{
    display: flex;
    
}

.login img{
    width: 20px;
    margin-left: 1em;
}

.nav2 img{
    width: 20px;
    margin-left: 1em;
}

/* Main */

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
}

.search{
    display: flex;

}

.search-input{
    width: 40vw;
    height: 5vh;  
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 30vh;
    margin-top: 8%;
}

.n1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.n1 a{
    color: white;
    text-decoration: none;
}

.news{
    display: flex;
    justify-content: center;
    width: 85vw;
}

.news1{
    width: 300px;
    height: 200px;
}

.n2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 1%;
}

.n2 a{
    text-decoration: none;
    color: white;
}

.news2{
    width: 320px;
    height: 200px;
}

.n3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 1%;
}

.n3 a{
    text-decoration: none;
    color: white;
}

.news3{
    width: 300px;
    height: 200px;
}

.n4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 1%;
}

.n4 a{
    text-decoration: none;
    color: white;
}

.news4{
    width: 320px;
    height: 200px;
}

.news p{
    color: white;
}
